/*The topmost element showing "CHUR"*/
.head {
    height: 12%;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00F;
    overflow-x: hidden;
    text-align: center;
}

/*The left side menu elements showing Students*/
.left_side {
    height: 88%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 12%;
    left: 0;
    background-color: #0F0;
    overflow-x: hidden;
    padding-top: 20px;
}
/*The area where student links resides*/
.left_side .menu_container {
    background: pink;
}

/*Every student link*/
.left_side .menu_container a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
}

/*Only student link of which the mouse comes above it*/
.left_side .menu_container a:hover {
    color: #FFF;
    background: #fac0cb;
}

/*The main area, usually white background*/
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding-top: 80px; /* Same as the width of the sidenav */
    padding-left: 20px; /* Same as the width of the sidenav */
}

/*The first element of the type of image in the main area*/
.main img:first-of-type{
    width: 20%;
    height: auto;
    float: left;
    padding: 20px;
}

/*The p element which have the id of my_description*/
.main p#my_description{
}

/*The element which have the id of my_name*/

#my_name{
    font-size: xx-large;
}

/*The element which have the id of all_students_data*/
#all_students_data{
    display: none;
}